// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red: #bb2d3b;
$green: #00AF50;
$blue: #0067B8;
$white: #fff;
$blue-accent: #437ac7;
$green-accent: #00bd59;
$secondary: #626262;

$silver: #ccc;
