@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
// Variables
@import "variables";
@import "custom_forms";
// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../public/css/nouislider.min.css";
@import "../../public/vendor/themify/themify-icons.css";
@import "../../public/vendor/font-awesome/css/font-awesome.min.css";
@import "../../public/css/home-carousel.css";
@import "../../public/css/style.css";
//@import "~toastr/build/toastr.css";
@import "custom";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.85rem !important;
}

.font-small {
  font-size: 0.85rem !important;
}

.home-info {
  font-family: 'Poppins', sans-serif;
  font-size: 25px !important;
}

.pb-0, .mb-0 {
  padding-bottom: 0 !important;
}

.dropdown-menu {
  min-width: 260px !important;
}

.error {
  color: $red;
  font-size: smaller;
}

