@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px !important;
}

.div-hide {
    display: none;
}

.user-account .user-photo {
    height: 50px;
}

.product_image {
    height: 30px !important;
}

.form-control, .btn, .alert, .modal-content, .sweet-alert button, .sweet-alert, .nav-pills > li > a, .img-thumbnail {
    border-radius: 1px !important;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #0e9be2!important;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill: #ab7df6!important;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
    fill: #7cac25!important;
}
.ct-label {
    font-size: 13px!important;
    font-weight: bolder!important;
}
.auth-box {
   max-width: 400px;
}
@media screen and(max-width: 992px) {
    .auth-box {
        width: 50%!important;
    }
}
.flat {
    border-radius: 0 !important;
}
textarea{
    resize: vertical;
    min-height: 100px;
}