@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Raleway');

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px !important;
}
.home-info{
    font-family: 'Raleway', sans-serif;
    font-size: 25px!important;
}
.header-search form .input-select, .header-search form .search-btn {
    border-radius: 0 !important;

}
.header-search{
    font-size: 15px;
}
.shop:before {
    width: 50%;
    transform: skewX(-0deg);
}

.main-nav > li > a:hover, .main-nav > li > a:focus, .main-nav > li.active > a {
    /* color: #FFF;
     background-color: transparent;*/
}

.main-nav > li > a:after {
    background-color: #fff;
}

.flat {
    border-radius: 0 !important;
}

.product .add-to-cart .add-to-cart-btn:hover {
    background-color: inherit;
    color: #D10024;
    border-color: #D10024;
}

.padding-left-20 {
    padding-left: 20px;
}

#bottom-footer {
    /*background: #f3f3f3;*/
}

.shop .shop-img {
    background-color: transparent;
    border: 1px solid #e6e6e4;
}

a {
    color: #D40C26;
}

a:hover, a:focus {
    color: #437ac7;
    text-decoration: none;
}

.header-search form .search-btn {
    border: 1px solid #D10024 !important;
}

.btn-success {
    background-color: #00AF50;
}

.btn-primary {
    background-color: #2F81D8;
}

.pagination > li > a, .pagination > li > span {
    color: #00af50 !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00af50 !important;
    border-color: #00af50 !important;
    color: white !important;
}

.header-links ul.dropdown-menu li, .header-links ul.dropdown-menu a {
    color: #D10024 !important;
    width: 100% !important;
    font-weight: bold;
    display: block !important;
}

.div-hide {
    display: none;
}

.header-search form .input {
    width: calc(100% - 100px);
}

.category-info {
    /*border: 1px solid #f4f4f4;*/
    padding: 5px;
    border-radius: 2px;
}

.category-info:hover {
    /*border: 1px solid #a7a7a7;;*/
}
.btn-cart{
    color: white;
    background-color: #D10024;
    border: 2px solid #D10024;
    text-transform: uppercase;
}
.btn-cart:hover{
    color: #D10024;
    background-color: #FFFFFF;
    border: 2px solid #D10024;
}

.btn-green{
    color: white;
    background-color: #00AF50;
    border: 2px solid #00bd59;
    text-transform: uppercase;
}
.btn-green:hover{
    color: #00AF50;
    background-color: #FFFFFF;
    border: 2px solid #00AF50;
}
.item:hover{
    border: 1px solid darkgray;
}
.badge-primary{
    background-color: #D10024;
}
.list-group-item.active1{
    background-color: #D10024;
    color: white;
    z-index: 2;
    border-color: #D10024;
}
.list-group-item.active1 a{
    color: white!important;
}
.color-primary{
 color: #D10024!important;
}
.cart-btn-qty{
    border: 2px solid #D10024;
}
.cart-btn-qty:hover{
    border: 2px solid #D10024;
}